<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load friendshiptags %} {% load socialaccount %}

<script>


</script>


    <ul class="list-group">
        {% if bmis %}

          {% for bmi in bmis %}
          <li class="list-group-item">
              As of {{ bmi.time_of_bmi }} your bmi was {{ bmi.user_bmi }}
          </li>
          {% endfor %}
          {% else %}
        <li class="list-group-item">
            There are no bmi's currently.
          </li>
          {% endif %}


    </ul>

<form  method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />

</form>
<body>








 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<script>

// Referenced
// Title: Chart Performance with Large number of Data Points
// Date: 4/15
// Code version: HTML5
// URL: https://canvasjs.com/javascript-charts/performance-demo-chart/




window.onload = function () {

// var limit = 20;
var y = 70;
var data = [];
var dataSeries = { type: "line" };
var dataPoints = [];

// var a = "{{ bmi_nums }}";
// var a = a.split(", ");
// document.write(typeof(a));
// document.write(a);

for (var i = 0; i < {{ bmi_nums }}.length; i += 1) {
  // y = parseInt( a[i] );
  y = {{ bmi_nums }}[i]
  dataPoints.push({
     x: i,
     y: y
  });
}

dataSeries.dataPoints = dataPoints;
data.push(dataSeries);

//Better to construct options first and then pass it as a parameter
var options = {
	zoomEnabled: true,
	animationEnabled: true,
	title: {
		text: "Your BMI Progression"
	},
	axisY: {
		lineThickness: 1
	},
	data: data  // random data
};

var chart = new CanvasJS.Chart("chartContainer", options);

chart.render();



}
</script>
<style>
	#timeToRender {
		position:absolute;
		top: 10px;
		font-size: 20px;
		font-weight: bold;
		background-color: #d85757;
		padding: 0px 4px;
		color: #ffffff;
	}
</style>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<span id="timeToRender"></span>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>






</body>
</html>
