
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardio</title>

</head>
<body>
<h1>
    Wanna work on your cardio but don't like running?
</h1>
<h3>
    Do these:
</h3>
<div>
    Mountain Climbers (45 sec)
</div>
<div>
    30 seconds breaks
</div>
<div>
    Burpees (30 sec)
</div>
<div>
    30 seconds breaks
</div>
<div>
    Lunges (45 sec or 10 each leg)
</div>
<div>
    30 seconds breaks
</div>
<div>
    High Knees (45 sec)
</div>
<div>
    30 seconds breaks
</div>
<div>
    Squat Jumps (45 sec)
</div>
<div>
    30 seconds breaks
</div>
<div>
    Mountain Climbers (45 sec)
</div>
<div>
    30 seconds breaks
</div>
<div>
    Burpees (30 sec)
</div>


</body>
</html>