<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'exercise:home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'exercise:sport' %}">Sport<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise:cardio' %}">Cardio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'exercise:body' %}">Weight-Lifting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise:exerciselogging' %}">Exercise-Logging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise:blog' %}">Blog</a>
      </li>
    </ul>
  </div>
</nav>

<title>Title</title>

    <ul class="list-group">
        {% if exercises %}
          {% for exercise in exercises %}
          <li class="list-group-item">
            I did {{ exercise.sets }} sets of {{ exercise.exercise_name}} for {{ exercise.reps }} reps on {{ exercise.timestamp }} at {{ exercise.weight_in_pounds }} pounds
          </li>
          {% endfor %}
          {% else %}
        <li class="list-group-item">
            There are no exercises currently
          </li>
          {% endif %}
    </ul>

<form  method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Submit" />

</form>
<body>

</body>
</html>