<!-- Test to check if the google authentication is working properly -->
{% load socialaccount %}
<h1>Main Page Coming Soon...</h1>

<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
    <!-- Checks for authentication-->
    {% if user.is_authenticated %}  
    <h1>Hello, {{request.user}}</h1>
        <span> <a href="{% url 'exercise:home' %}">Home</a> </span>
        <span> <a href="{% url 'exercise:logout' %}">Logout</a> </span>
    {% else %}
    <!-- Asks for authentication-->
    <span> <a href="{% url 'exercise:login' %}">Login</a> </span>
    </br>
    <span>
      <a href="{% provider_login_url 'google' %}">Test Login with Google</a>
    </span>
    {% endif %}
  </body>
</html>
