
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Body Builder</title>

</head>
<body>




<h1>
  Like lifting but need to get your form and endurance up?
</h1>
<h3>
  Do these:
</h3>
<h3>
  !PLEASE WORK WITH WEIGHTS YOU ARE COMFORTABLE WITH!
</h3>
<div>
  Bench press: 3 sets 10 reps each at 70% body weight (1 minute break in between sets)
</div>
<div>
  1 minute and 30 seconds breaks
</div>
<div>
  Rows (do pull ups if no rowing machine): 3 sets of 10 reps each at 60% body weight (1 minute break in between sets)
</div>
<div>
  1 minute and 30 seconds breaks
</div>
<div>
  Bicep curls: Using a 25 lb barbell do 7 reps going half way to the top, 7 reps starting from half and going full, 7 reps doing full reps (no breaks in between)
</div>
<div>
  1 minute and 30 seconds breaks
</div>
<div>
  Legs: 3 sets 10 reps each at 100% body weight (2 minute breaks in between sets)
</div>
<div>
  1 minute and 30 seconds breaks
</div>
<div>
  Tricep extension: 3 sets 10 reps each at 30 lb barbell (or whatever you are comfortable with)
</div>

</body>
</html>

