<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Quicksand"
    />
    <title>Sport</title>
  </head>
  <body>
    <header>{% include "./header.html" %}</header>
    <font face="Quicksand">
      <div class="row justify-content-center">

      <h1>Have a group of friends and want to play a sport?</h1>

      </div>
      <div class="row justify-content-center">

      <h3>Chose ONE of these:</h3>
      </div>
      <div class="row justify-content-center">
        <div
          class="badge bg-info text-wrap"
          style="width: 44rem; font-size: 20px"
        >
          Soccer: 1 hour
        </div>
      </div>
      <div class="row justify-content-center">
        <div>or</div>
      </div>
      <div class="row justify-content-center">
        <div
          class="badge bg-info text-wrap"
          style="width: 44rem; font-size: 20px"
        >
          Volleyball: 1.5 hours
        </div>
      </div>
      <div class="row justify-content-center">
        <div>or</div>
      </div>
      <div class="row justify-content-center">
        <div
          class="badge bg-info text-wrap"
          style="width: 44rem; font-size: 20px"
        >
          Basketball: 50 minutes
        </div>
      </div>
      <div class="row justify-content-center">
        <div>or</div>
      </div>
      <div class="row justify-content-center">
        <div
          class="badge bg-info text-wrap"
          style="width: 44rem; font-size: 20px"
        >
          Swimming: 45 minutes
        </div>
      </div>
      <div class="row justify-content-center">
        <div>or</div>
      </div>
      <div class="row justify-content-center">
        <div
          class="badge bg-info text-wrap"
          style="width: 44rem; font-size: 20px"
        >
          Football: 1.5 hours
        </div>
      </div>
      <div>
        &nbsp;&nbsp;
      </div>
      <div class="row justify-content-center">
        <a href="/exercise/instructions/complete/" class="btn btn-primary"> Completed!</a>
          <div>
          &nbsp;&nbsp;
        </div>
        <a href="/exercise/instructions/" class="btn btn-danger"> Go Back</a>
      </div>
    </font>
  </body>
</html>
